@charset "UTF-8";
/* モバイルファーストのためスマホ版から作成してみる*/
/* 共通部分 */
html {
  font-size: 62.5%;
}
body {
  font-size: 1.4rem;
  font-family: "a-otf-jun-pro","Yu Gothic Medium", "游ゴシック Medium", "YuGothic","游ゴシック体", "ヒラギノ角ゴ Pro W3", sans-serif;
  line-height: 1.7;
  color: #271A10;
  /*color: #271A10 ---全体の文字の色こげ茶*/
  /*color: #85B7D5;---水色*/
  /*coloer:#FFFFE1 ---背景の色の黄色*/
  background-color: #FFFFE1;
/*  background-color: #FEFBF6;*/
}
a {
  text-decoration: none;
}
img {
  max-width: 100%;
}

p {
  font-size: 1.6rem;
}

/* HEADER */
.logo {
  width: 150px;
  margin-top: 14px;
}

.page-header {
  display: flex;
  justify-content: space-between;
/*  background-color: rgba(255,255,255,.7);*/
}

.wrapper {
  max-width: 1100px;
  margin: 0 auto;
  padding: 0 4%;
}


/*------------------------*/
/* 見出し */
.page-title {
  text-align: center;
  font-size: 3.2rem;
  font-family: vdl-v7marugothic, sans-serif;
  font-weight: 800;
  font-style: normal;
  text-transform: uppercase;
  padding: 50px 0 30px 0;
  line-height: 24px;
}

.page-title p {
  font-size: 1.4rem;
  font-family: a-otf-jun-pro, sans-serif;
  padding-top: 20px;
}
.page-title img {
  height: 50px;
}
.page-top-title {
  width: 60px;
  margin: 20px;
  opacity: 0.8;
}

.category-title {
  text-align: center;
  border-top: 2px solid #74A7CBFF;
  border-bottom: 2px solid #74A7CBFF;
  margin: 40px 20px;
  padding: 20px 0;
}

/* ボタン */
.button {
  font-size: 1.6rem;
  color: #fff;
  border-radius: 5px;
  padding: 18px 32px;
}
.button:hover {
  background: #0090aa;
}

.more-btn {
  text-align: center;
  border: 2px solid #85B7D5;
  border-image: url(../images/handline-square.png) 33%/25px 25px repeat;
  width: 150px;
  margin: 10px auto;
}
.more-btn a:after {
  content: url(../images/more-btn-right.svg);
  display: inline-block;
/*  transform: rotateZ( 90deg );*/
  vertical-align:baseline;
  padding-top: 2px;
  width: 20px;

}
.more-btn a {
  display: block;
/*  border: 2px solid #85B7D5;
  border-image: url(../images/handline-square.png) 33%/25px 25px repeat;*/
  background: #85B7D5;
  border-radius: 10px;
  color: #fff;
  font-size: 12px;
  padding: 6px 0;
}
.more-btn a:hover {
  color: #fff;
  opacity: 0.7;
}

/*ライン*/
/*細い*/
.cp_hr01 {
  border-width: 1px 0 0 0;
  border-style: dotted;
  border-color: #1e88e5;
}

/* 各ページのヒーローイメージ*/
.page-top-img {
  position: relative;
  text-align: left;
  height: 250px;
  background-image: url(../images/howto/news-headimg.jpg);
  background-size: cover;
  background-position: center;
}

/* HOME */
.home-content {
  position: relative;
  font-size: 1.2rem;
  margin: 10px 0 42px;
  text-align: center;
  margin-top: 20px;
}

.home-title {
  max-width: 150px;
  opacity: 0.9;
}


/* 大きな背景画像 */
.big-bg {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  border-bottom: 20px solid #85B7D5;
}

#home {
  position: relative;
  background-image: url(../images/hero_yasuuri.jpg);
  background-color: rgba(255,255,255,.10);
  background-blend-mode: lighten;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
#home .page-title {
  text-transform: none;
}
.home-scroll {
  position: absolute;
  bottom: -20px;
  left: 45%;
  z-index: 50;
}

.home-content {

}

/* HOMEのPC用メニュー */
.home-menu-area{
    display: none;
}


/* home-news */
.home-news-area{
  position: relative;
  text-align: center;
}

.home-news-bg1 {
  position: absolute;
  right: 0px;
  top: 0px;
  z-index: -2;
  width: 35%;
}

.home-news-bg2 {
  position: absolute;
  bottom:-100px;
  z-index: -1;
  width: 50%;
}

.home-news-title{
  padding: 20px;
  padding-top: 60px;
  width: auto;
  margin: 0 auto;
}

.home-news-lineup {
/*  display: grid;
  gap:10px;
  grid-template-columns: 100px auto;*/
/*  font-size: 1.2rem;
  line-height: 1.8em;
  border: 2px solid #85B7D5;
  border-image: url(../images/line_img.png) 33%/25px 25px repeat;
  list-style: none;
  background-color: rgba(255,255,255,.7);
  padding: 15px;*/
}


/*.home-news-item dt {
  text-align: left;
  margin-bottom: 5px;
  color: #000;
  padding-left: 15px;
  background-color: #85B7D5;
}

.home-news-item dd {
  text-align: left;
  margin-bottom: 1em;
  border-bottom: 1px solid #85B7D5;
  padding-bottom: 5px;
  padding-left: 20px;
}*/

.home-news-lineup a {
  color:#271A10;
}
.home-news-lineup a:hover {
  color:#0F92D3;
}
.home-news-lineup .more-btn a {
  color: #fff;
}

/* home-line1 */
.home-line {
  display: grid;
  grid-template-columns:1fr;
/*  margin: 50px auto;*/
  padding-top: 120px;
}
.home-line img {
  width: 100%;
  object-fit: cover;
}

.home-line-move {
  text-align: center;
  padding: 20px 0 50px 0;
}

.home-line-move img {
  width: 100px;
  height: auto;
  animation: animationZoom1 1s ease-in-out forwards;
}
/*@keyframes animationZoom1 {
  0% {
    margin-top: -150px;
  }

  100% { transform: scale(1.5)}
}*/


/* home-ギャラリー */
.home-gallery-area {

/*  background-image: url(../images/home-suzume2.png);
  background-size: 20%;
  background-position: 70% 100%;*/
}

.home-gallery-top {
  text-align: center;
  background-color: #fff;
}

.home-gallery-suzume {
  padding: 30px 30px 0 60%;

}

.home-gallery-top .more-btn {

}

.home-gallery-bg {
  position: relative;
}
.home-gallery-bg > img {
  border-radius: 20px;
}

.home-gallery-list {
   position: relative;
/*  bottom: -50px;*/
/*  display: flex;
  flex-wrap: wrap;
  align-items: top;
  justify-content: center;
  padding: 10px;*/
}
.slick01 {
  position: absolute;
  border-top: -50px;
}

/*ギャラリー slickカスタマイズ分*/
.slick01 img {
  border: 5px solid #fff;
  height: 40vw;
  border-radius: 10px;
}




/*-----------------------*/

.home-line2 {
  padding-bottom: 100px;
}

/*-----------------------*/



/* home-about */
.home-about-area {
  position: relative;
  text-align: center;
  height: 800px;
}
.home-about-bg1 {
  position: absolute;
  right: 0px;
  top: -100px;
  z-index: -2;
    width: 50%;

}

.home-about-bg2 {
  position: absolute;
  width: 50%;
  bottom:-150px;
  left: 0px;
  z-index: -1;
}

.home-about-top {
  margin: 60px auto;
  padding: 0 6%;
}
.home-about-top p {
  margin: 0 12px 12px 12px  ;
  text-align: left;
}
.home-about-top .page-title p {
  text-align: center;
}
.home-about-top .page-title {
  padding: 0;
}

.home-about-bgcolor {
  border-radius: 28px;
  background-color: rgba(255,255,255,.6);
  padding: 12px;
  margin: 20px;
  }


.home-about-mike {
  width: 200px;
  padding-top: 28px;
  padding-bottom: 28px;
}
.home-about-move {
  position: relative;
}
.home-about-move p {
  text-align: right;
  color: #85B7D5;
}

.home-kochira a {
  font-size: 1.2rem;
  text-align: right;
  color: #85B7D5;
}
.home-kochira a:hover {
  color: #85B7D5;
  border-bottom: 1px solid #85B7D5;
}
.home-about-car p {
  font-size: 1.6rem;
  text-align: center;
  margin: 0 auto;
}





/* home-howto */
.home-howto-area {
  margin: 120px 0 0 0;
  padding-bottom: 50px;
  background-color: #fff;
  height: 700px;
}

.home-howto-area .page-title img {
  margin-top: 50px;
/*  position: absolute;
  bottom:-100px;
  left: 15%;
  padding-top: 20px;*/
}





/* homr-line3 */
.home-line3 {
  position: relative;
  margin-top: 100px;
}

.home-line3 img{
    position: absolute;
    top: 0;
    left: 0;
    width: 100px;
    animation: animeSlide1 8s linear;
    transform: translateX(-100%);/*初期位置*/
    animation-fill-mode:forwards;/*コレが最後停止*/
    animation-iteration-count:infinite; /*アニメーションをエンドレス再生する*/
}
@keyframes animeSlide1{
  from {
    margin-left: 100%;
  }

  to {
    margin-right: 100%;
    transform: translateX(-100%);
  }

}

.home-line4 {
  padding: 100px 0 150px 0  ;

}


/* home-contact  */
.home-contact-area {
  position: relative;
  text-align: center;
}

.home-contact-area p {
  padding-top: 20px;
}

.home-contact-top {
  /*border: 2px solid #85B7D5;*/
  border-image: url(../images/handline-square.png) 33%/25px 25px repeat;
  background-repeat: no-repeat;
  background-position: left 20px bottom 20px;
  background-size:50%;
  background-color: rgba(255,255,255,0.5);
    width:auto;
    height:400px;
    margin: 0 20px;

}
.home-contact-top .page-title {
  padding-bottom: 20px;
}

.home-contact-top .page-title img {
  width: 200px;
}


.home-contact-cat {
  position: absolute;
  top: -74px;
  left: 35%;
  width: 120px;
}

.home-contact-suzume {
  position: absolute;
  bottom: -100px;
  left: 0;
  width: 60%;
}

.more-btn2 {
  text-align: center;
  width: 220px;
  margin: 0 auto;
  padding: 10px;
  color: #fff;
}
.more-btn2 a {
  display: block;
  width: 220px;
  margin: 0 auto;
  padding: 10px;
  border-radius:20px;
  background-color:#FAAF3B;
  color: #fff;
}
.more-btn2 a:hover {
  color: #fff;
  background-color: #FC8F00;
}



/* home-sns */
.sns-area {
  text-align: center;
  font-size: 1.8rem;
  padding: 50px;
}
.sns-fish {
  width: 100px;
  margin-top: 150px;
}

.sns-bt p{
  text-align: center;
  color: #85B7D5;
  margin: 32px;
}

.sns-twitter {
  border: 2px solid #85B7D5;
  border-radius: 20px;
  padding: 10px;
  background: #fff;
}

.sns-bt-nav {
  padding-top: 20px;
}

.sns-bt-nav {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  list-style: none;
  margin: 0 10px;
}
.sns-bt-nav li{
  font-size: 2.2rem;
/*  margin-right: 20px;*/
  padding: 0 10px;
}
.sns-bt-nav li:last-child {
  margin-right: 0;
}

.sns-bt-nav a {
  display: block;
  color: #85B7D5;
  border: 1px solid #85B7D5;
  border-radius: 50%;
  width: 40px;
  height: 40px;
}
.sns-bt-nav a:hover {
  color: #85B7D5;
}

.sns-blog {
  margin: 32px;
}

.sns-blog img {
  width: 180px;
}




.home-topmark {
  font-size: 1.6rem;
  text-align: right;
}
.home-topmark a {
  color: #85B7D5;
}

.pagetop-btn a {
  display: block;
  width: 60px;
  height: 60px;
  text-align: center;
  line-height: 60px;
  position: fixed;
  right: 10px;
  bottom: 72px;
  z-index: 100;
}



/* フッター */
footer {

  background: #85B7D5;
  text-align: center;
  padding: 26px 0;
}
footer p {
  color: #fff;
  font-size: 1rem;
}


/* --------HOW TOのページ--------*/
/*howto 共通*/
/*.category-title {
タイトルは上にまとめてある
}*/
#howto .page-top-img {
  background-image: url(../images/howto/news-headimg.jpg);
}

.bg-fff {
  background: #fff;
}

.howto-point {
  border: 2px solid #74A7CBFF;
  border-radius: 10px;
  margin: 20px 10px;
  padding: 10px;
}

.howto-top-title {
  position: absolute;
  bottom: 10px;
  right: 0;
  display: inline-block;
  text-align: center;
  width: 50%;
  background: rgba(254,255,218,1);
  border-radius: 20px 0 0 20px;
  padding: 20px 20px 20px 20px;
}
.howto-toha {
/*  position: relative;*/
  display: grid;
  grid-template-columns:30% 1fr;
}
.howto-toha img {
/*width:75%;*/

/*  left: -100px;*/

}
.howto-rougahowto-area {

}

.howto-completion-img {
  text-align: center;
}

.howto-completion-img img {
  border: 5px solid #74A7CBFF;
}


.howto-painting ul{
  list-style: none;
}
.howto-tools-img {
  display: grid;
  grid-row-gap: 10px;
  grid-column-gap: 20px;
  grid-template-columns: repeat(3,1fr);
  background: #fff;
  margin: 20px 0 10px 0;
}

.howto-tools-name {
  padding: 20px;
  margin: 5px 30px;
}



/*描き方ステップ*/
.howto-painting-step {
  background-color: #fff;
/*  margin:20px;*/
  padding: 20px;
}
.howto-painting-step p{
  font-size: 1.4rem;
}
.painting-step-area {

}
.painting-step-title {
  margin: 40px auto 80px 0;
  padding: 0 20px;
}
.painting-step-title:before {
  content: "●";
/*  content: url(../images/howto/);*/
  width: 80px;
}
.step-img {
  text-align: center;
  position: relative;
}

.step-img-fix{
  border: 10px solid #74A7CBFF;
  border-radius: 10px;
  width: 250px;
  height: 250px;
}
/*.step-img-fix:before {
  content:url(../images/howto/);
  border: 10px solid #000;
  border-radius: 10px;
  width: 300px;
  height: 300px;
}*/
.step-img-up {
  position: absolute;
  top:-60px;
  left: 25%;
  width: 120px;
  height: 120px;
  border: 10px solid #fff;
  border-radius: 50%;
  background-color: #ff1;
}

.step-caption {
  margin: 20px auto 20px 10px;
}






/*------------------------
テスト用*/
.home-news-lineup {
  display: grid;
  gap: 20px;
  grid-template-columns: repeat(2,1fr);
}



.test-news-area {
  text-align: center;
/*  width: 170px;*/
}
.test-news-area p {
  font-size: 1.2rem;
}
.test-news-area img {
/*  width: 150px;*/
  border-radius: 10px;
  border: 3px solid #fff;
}
.test-news-deta {
display: flex;
align-items: center
justify-content: center;
/*width: 150px;*/
}
.test-news-deta p{
  color: #74A7CBFF;

}
.test-news-deta p:nth-child(1){
display: inline-block;
/*background: #fff;*/
margin: 5px 0;
}
.test-news-deta p:nth-child(2){
  font-size: 1.0rem;
display: inline-block;
width: 75px;
background: #74A7CBFF;
border-radius: 10px;
color: #fff;
margin: 5px;
/*border: 2px solid red;*/
}
.test-news-title p{
  display: inline-block;
/*  background: #fff;*/
  font-size: 1.2rem;
  text-align: left;
  margin: 5px;
}












/* ーーーーーーーーーーーーーーーーーー
  PC版とタブレット版は
  各ファイルを作成しました。
  ーーーーーーーーーーーーーーーーーーー*/



