@charset "UTF-8";
/* タブレット版 768pxまでに設定
-----------------------------------------*/
@media screen and (min-width: 768px){

  /* 見出し */
  .page-title {

  }

  /* HEADER */

.home-menu-area{
    display: none;
}

.home-gallery-bg {
  background-size: contain;
}





/* 以下作業中 */



  /* HOME */
.home-content {

}

/*横並び*/
.page-header {

}

/* NEWS */
.home-news-title{
/*  padding: 20px;
  width: 700px;
  margin: 0 auto;*/
}


/* Home-GALLERY */
.home-gallery-area {

}
.home-gallery-bg {
  background-size: contain;
  min-height: auto;
}
.home-news-lineup {
  display: grid;
  gap: 20px;
  grid-template-columns: repeat(4,1fr);
}

/*Home-HOW TO*/
.homo-howto-main img {

}



/* Home-フォーム */
input[type="text"],
input[type="email"],
textarea {
  max-width: 100%;
}

}
/* 記事の部分 */
/*article */


/*galleryページ*/
.gallery-grid {
  display: grid;
  gap: 26px;
  grid-template-columns: repeat(2,1fr);
  margin-top: 6%;
  margin-bottom: 50px;
}


/* PC版 1024pxまでに設定
-----------------------------------------*/

 @media screen and (min-width: 1024px) {

/* PC版用のメニュー */
.home-menu-area {
  position: relative;
}

.home-menu {
  display: flex;
  font-size: 1.6rem;
  text-transform: uppercase;
  margin-top: 34px;
  list-style: none;
}

.home-menu li {
  margin-left: 36px;
}
.home-menu a {
  color: #fff;
  padding-bottom: 5px;
}

.home-menu a:hover {
  color: #fff;
  border-bottom: 2px solid #fff;
}

.home-menu-area {
  display: flex;
  justify-content: space-between;
  background: #85B7D5;
  padding-bottom: 20px;
}



/* NEWS */

/*galleryページ*/
.gallery-grid {
  display: grid;
  gap: 26px;
  grid-template-columns: repeat(3,1fr);
  margin-top: 6%;
  margin-bottom: 50px;
}

}