@charset "UTF-8";
/* News */
#news p {
/*  font-size: 1.4rem;*/
}
#news h3 {
  font-size: 1.6rem;
}

.news-list {

}
.news-contents {
  display: flex;
  justify-content: space-between;
  margin: 40px 10px 0 10px;
}
.news-cat-mark {
  display: inline-block;
  text-align: center;
  background: #74A7CBFF;
  border: 2px solid #74A7CBFF;
  border-radius: 14px;
}

.news-cat-mark p{
  font-size: 1.0rem;
  color: #fff;
  padding: 1px 25px 0 25px;
}
.media-object img {
  width: 20%;
}
.news-date p {
  display: inline-block;
  font-family: "YuGothic";
  color: #74A7CBFF;
}

.news-title {
  font-size: 1.6rem;
  margin: 5px 20px 10px 20px;
  padding: 0 5px 5px 5px;
}

.news-massage  {
  margin: 0 20px;
  padding: 20px;
  border-bottom: 1px solid #74A7CBFF;
}
.news-massage p {
  font-size: 1.4rem;
}

.news-list-img {
  padding: 0;
  margin: 0;
  max-width: 500px;
  text-align: center;
}
.news-media-object {
  padding: 20px;
  width: 100%;
}
.news-media-object-none {
  padding: 0;
  width:5px;
}
.news-yaer-menu {
  list-style-type: none;
  text-align: center;
  border: 1px solid #74A7CBFF;
  border-radius: 20px;
  background: #fff;
  margin: 40px;
  padding: 10px;
}
.news-yaer-menu a {

}
.news-yaer-menu a {
  font-family: "YuGothic";
  color: #74A7CBFF;
}

.news-cat-menu {
  list-style-type: none;
  display: inline-block;
  text-align: center;
  background: #74A7CBFF;
  border: 2px solid #74A7CBFF;
  border-radius: 14px;
  margin: 10px 0 0 10px;
  }

.news-cat-menu p {
}

#news .category-title {
  margin: 0;
}

/* モバイル版
-----------------------------------------*/

