@charset "UTF-8";
/* News */
#news .page-top-img {
  background-image: url(../images/news/news-headimg.jpg);
}
.news-contents {
  display: flex;
  justify-content: space-between;
  margin: 40px 0 0 0;
}
.news-cat-mark {
  display: inline-block;
  text-align: center;
  background: #74A7CBFF;
  border: 2px solid #74A7CBFF;
  border-radius: 14px;
}

.news-cat-mark p{
  font-size: 1.2rem;
  color: #fff;
  padding: 0 12px 2px 12px;
}

.news-date p {
  display: inline-block;
  font-family: "YuGothic";
  color: #74A7CBFF;
}

.news-title {
  font-size: 1.6rem;
  margin: 5px 0 30px 0;
  padding: 0 5px 5px 5px;
  border-bottom: 2px solid #74A7CBFF;
}
}
.news-massage p {
  font-size: 1.4rem;
  margin: 0 30px;
  padding: 20px;
}


.news-list-img {
  padding-bottom: 20px;
  text-align: center;
}
.news-list-img img {
  padding: 20px;
  width: 300px;
}


/* モバイル版
-----------------------------------------*/

