@charset "UTF-8";
/* News */
#news p {
  font-size: 1.6rem;
}
#news h3 {
  font-size: 2.4rem;
}

.news-list {

/*  padding: 10px;*/
}
.news-contents {
  display: flex;
  justify-content: space-between;
  margin: 40px 10px 0 10px;
    background: #ffffff;
}

.media-object img {
  width: 20%;
}
.news-date p {
  display: inline-block;
  color: #74A7CBFF;
}

.news-title {
  font-size: 2.0rem;
  margin: 10px auto 30px;
  padding: 0 5px 5px 5px;
}

.news-massage  {
  margin: 20px 5px 40px 5px;
  padding-bottom: 40px;

}
.news-massage p {
  font-size: 1.6rem;
}

.news-list-img {
  padding: 0;
  margin: 0;
  max-width: 500px;
  text-align: center;
}
.news-media-object {
  padding: 20px;
  width: 100%;
}
.news-media-object-none {
  padding: 0;
  width:5px;
}
.news-yaer-menu {
  list-style-type: none;
  text-align: center;
  border: 1px solid #74A7CBFF;
  border-radius: 20px;
  background: #fff;
  margin: 40px;
  padding: 10px;
}

.news-yaer-menu a {
  color: #74A7CBFF;
}

.news-cat-menu {
  list-style-type: none;
  display: inline-block;
  text-align: center;
/*  background: #fff;
  border: 2px solid #74A7CBFF;*/
  border-radius: 14px;
  margin: 10px 0 0 10px;
  }


.news-category-end {
  background: #fff;
  margin: 10px auto 30px;
  padding: 10px;
}

.news-cat-menu p {
}


.news-cat-mark {
  display: inline-block;
  text-align: center;
  background: #fff;
  border: 1px solid #74A7CBFF;
  border-radius: 14px;
}

.news-cat-mark p{
  font-size: 1.0rem;
  color: #74A7CBFF;
  padding: 1px 25px 0 25px;
}
.news-category-aside .category-title {
  font-size: 2.8rem;
  margin: 20px;
}
/*
-----------------------------------------*/

