@charset "UTF-8";
/* 共通部分 */
html {
  font-size: 100%;
}
body {
  font-family: "Yu Gothic Medium", "游ゴシック Medium", YuGothic, "游ゴシック体", "ヒラギノ角ゴ Pro W3", sans-serif;
  line-height: 1.7;
  color: #271A10;
  /*全体の文字の色*/
  background-color: #FFFFE1;
}
a {
  text-decoration: none;
}
img {
  max-width: 100%;
}

.animasc {
  color: #aaa;
}

.fade_off {
    opacity: 0;
    -webkit-transition: all 1s;
    -moz-transition: all 1s;
    -o-transition: all 1s;
    -ms-transition: all 1s;
    transition: all 1s;
}

.fade_on {
    opacity: 1;
}